@import "tailwindcss";

:root {
  --light: #F8FAFC;
  --dark: #111827;
  --secondary: #ba0021;
  --accent: #facc15;
  --secondAccent: #88e1f2;
  --font-sans: "Lato", sans-serif;

  --lightShadow: rgba(248, 250, 252, 0.5);
  --darkShadow: rgba(17, 24, 39, 0.5);
  --redShadow: rgba(186, 0, 33, 0.5);
}

.dark {
  --dark: #F8FAFC;
  --light: #111827;

  --darkShadow: rgba(248, 250, 252, 0.25);
  --lightShadow: rgba(17, 24, 39, 0.5);
}

body {
  font-family: var(--font-sans);
  @apply antialiased;
}

.shadow-light {
  box-shadow: 1px 1px 20px var(--lightShadow);
}

.shadow-accent {
  box-shadow: 1px 1px 8px var(--accent);
}

.shadow-dark {
  box-shadow: 1px 1px 8px var(--darkShadow);
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

.text-light {
  color: var(--light);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent {
  color: var(--accent);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}
